<title>My Application</title>
  <h1>Hello, World !!!!</h1>
  
  This is my HW#1 assignment in Bil481 Software Engineering
  
  Veli Durmuşcan
  
  Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
